.mainChat
  .mainChat__info
    .mainChat__info__group
      .mainChat__info__group--name
        = group.name
      .mainChat__info__group--contributor
        = group.user.name
    .mainChat__info__edit
    = link_to esit_group_path, 'Edit', class: "mainChat__info__edit__btn" do
  .mainChat__message
    = render @messages
    -# .mainChat__message__items
    -#   .mainChat__message__items__title
    -#     .mainChat__message__items__title--name
    -#       masa
    -#     .mainChat__message__items__title--date
    -#       2019/11/20(Web) 17.43.01
    -#   .mainChat__message__items--writing
    -#     おはよう！
  .mainChat__form
    = form_for [@group, @message] do |f|
    .mainChat__form__items
      .mainChat__form__items__box
        = f.text_field :content, class: 'mainChat__form__items__box__text', placeholder: 'type a message'
        .mainChat__form__items__box__img
          = f.label :image, class: 'main_chat__form__items__img--btn' do
            = icon('fas', 'images')
            = f.file_field :image, class: 'main_chat__form__items__img--btn--file'
      .mainChat__form__items__send
      = f.submit 'Send', class: 'main_chat__from__items__send--btn'
        -# Send
