.mainChat
  .mainChat__info
    .mainChat__info__group
      .mainChat__info__group--name
        = @group.name
      .mainChat__info__group--contributor
        Member
        - @group.users.each do |user|
          = user.name
    .mainChat__info__edit
    = link_to edit_group_path(@group), class: "mainChat__info__edit__btn" do
      Edit
  .mainChat__message
    = render @messages
  .mainChat__form
    = form_for [@group, @message] do |f|
      .mainChat__form__items
        .mainChat__form__items__box
          = f.text_field :content, class: 'mainChat__form__items__box__text', placeholder: 'type a message'
          .mainChat__form__items__box__img
            = f.label :image, class: 'main_chat__form__items__img--btn' do
              = icon('fas', 'images')
              = f.file_field :image, class: 'main_chat__form__items__img--btn--file'
        .mainChat__form__items__send
        = f.submit 'Send', class: 'main_chat__from__items__send--btn'
